.arrow-down {
    display:inline-block;
    opacity:0;
    
    a {
        display:inline-block;
        animation-delay: 1.1s;
    }
}

.hero-h1 {
    font-size: 2.6rem;
}

.hero-text {
    p {
        font-size: 1.3rem;
    }
}

.c-slide {
    position:relative;
    height:600px;
    
    img {
        height: 100%;
    }
}

.c-caption {
    position:absolute;
    background-color:rgba(0, 0, 0, .8);
    width: 100%;
    left:0;
    right:0;
    border: 1px solid black;
}
